<%- include layout/header.ejs %>
<div class="mid">
<div><img src="./images/profile/thumb/<%=data.pic%>" width="50" style="vertical-align:middle;">&nbsp;<b><%=data.fname%></b>&nbsp;|&nbsp;<a href="/logout">Logout</a></div>
<h1>Todo List</h1>
<a href="add-todo">Add Todo</a>&nbsp;|&nbsp;<a href="export-excel">Export Excel</a>
<table width="100%" cellpadding="5">
<tr>
<td width="5%">Sl.</td><td width="20%">Date</td><td width="70%">Job</td><td width="5%">&nbsp;</td>
</tr>
<%for(i=0;i<todo.length;i++){%>
<tr><td><%=i+1%></td><td><%=dateFormat(todo[i].add_date*1000, "dd-mm-yyyy")%></td><td><%=todo[i].job%></td><td><a href="/edit-todo/<%=todo[i].id%>">Edit</a>&nbsp;|&nbsp;<a href="/delete-todo/<%=todo[i].id%>">Delete</a></td></tr>
<%}%>
</table>
</div>
<%- include layout/footer.ejs %>
